<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./static/css/global.css" />
    <link rel="stylesheet" href="./static/css/base.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend Giga:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Eczar:wght@600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ek Mukta:wght@400;600&display=swap"
    />
  </head>
  <body>
    <div class="base">
      <div class="cover1">
        <div class="rectangle-parent3">
          <div class="group-child10"></div>
          <div class="group-child11"></div>
          <div class="group-child12"></div>
          <div class="group-chat1">
            <div class="frame3">
              <div class="mike-mazowski1">Mike Mazowski</div>
              <div class="hello-guys-we-have-discussed-group">
                <div class="hello-guys-we2">
                  Hello guys, we have discussed about post-corona vacation plan
                  and our decision is to go to Bali. We will have a very big
                  party after this corona ends! These are some images about our
                  destination
                </div>
                <div class="div6">16.04</div>
              </div>
            </div>
            <div class="admin1">admin</div>
            <div class="frame4">
              <div class="frame-child1"></div>
              <div class="frame-child1"></div>
              <div class="frame-child1"></div>
            </div>
            <div class="image-parent1">
              <img class="image-icon16" alt="" src="./static/images/image16@2x.png" />

              <img class="image-icon17" alt="" src="./static/images/image17@2x.png" />

              <img class="image-icon18" alt="" src="./static/images/image2@2x.png" />

              <div class="others-are-typing1">+2 others are typing</div>
            </div>
            <div class="frame-container">
              <div class="general-container">
                <div class="general1"># General</div>
              </div>
              <img
                class="bxbx-chevron-down-icon1"
                alt=""
                src="./static/images/bxbxchevrondown.svg"
              />

              <img
                class="bxbx-dots-vertical-rounded-icon3"
                alt=""
                src="./static/images/bxbxdotsverticalrounded.svg"
              />
            </div>
            <div class="rectangle-parent4">
              <div class="rectangle8"></div>
              <img
                class="bxbxs-video-icon2"
                alt=""
                src="./static/images/bxbxsvideo.svg"
              />

              <img class="frame-icon5" alt="" src="./static/images/frame.svg" />

              <div class="group4">
                <div class="online-from-121">7 Online, from 12 peoples</div>
                <div class="fullsnack-designers2">Fullsnack Designers</div>
              </div>
              <img
                class="group-child13"
                alt=""
                src="./static/images/rectangle-122@2x.png"
              />

              <img
                class="bxbx-dots-vertical-rounded-icon4"
                alt=""
                src="./static/images/bxbxdotsverticalrounded1.svg"
              />
            </div>
            <div class="rectangle-parent5">
              <div class="rectangle9"></div>
              <div class="group-child14"></div>
              <div class="write-a-message1">Write a message...</div>
              <img class="frame-icon6" alt="" src="./static/images/frame1.svg" />

              <img
                class="bxbxs-microphone-icon1"
                alt=""
                src="./static/images/bxbxsmicrophone.svg"
              />

              <img class="frame-icon7" alt="" src="./static/images/frame2.svg" />

              <img
                class="bxbx-smile-icon1"
                alt=""
                src="./static/images/bxbxsmile.svg"
              />
            </div>
            <div class="header3">
              <div class="bars-status-bar-iphone-l3">
                <img
                  class="cellular-connection-icon3"
                  alt=""
                  src="./static/images/cellular-connection.svg"
                />

                <div class="battery3">
                  <img class="cap-icon3" alt="" src="./static/images/cap.svg" />

                  <div class="border3"></div>
                  <div class="capacity3"></div>
                </div>
                <img class="wifi-icon3" alt="" src="./static/images/wifi.svg" />

                <div class="time-style3">
                  <div class="time3">9:41</div>
                </div>
              </div>
            </div>
            <img class="group-chat-inner" alt="" src="./static/images/vector-9.svg" />

            <img class="vector-icon" alt="" src="./static/images/vector-10.svg" />
          </div>
          <div class="call-history2">
            <div class="rectangle10"></div>
            <div class="darlene-steward-group">
              <div class="darlene-steward3">Darlene Steward</div>
              <div class="call-history3">Call history</div>
            </div>
            <div class="photo7">
              <img class="image-icon19" alt="" src="./static/images/image18@2x.png" />

              <div class="onlinestatusbusy2"></div>
            </div>
            <img
              class="bxbx-dots-vertical-rounded-icon5"
              alt=""
              src="./static/images/bxbxdotsverticalrounded2.svg"
            />

            <img
              class="call-history-item"
              alt=""
              src="./static/images/vector-91.svg"
            />

            <div class="call-history-inner3">
              <div class="bxbxs-left-down-arrow-circle-parent1">
                <img
                  class="bxbxs-left-down-arrow-circle-icon5"
                  alt=""
                  src="./static/images/bxbxsleftdownarrowcircle.svg"
                />

                <img
                  class="bxbxs-phone-icon4"
                  alt=""
                  src="./static/images/bxbxsphone.svg"
                />

                <div class="am-group">
                  <div class="am1">03.30 AM</div>
                  <div class="mins2">33 mins</div>
                  <div class="mb1">12.3 MB</div>
                </div>
              </div>
            </div>
            <div class="call-history-inner4">
              <div class="bxbxs-left-down-arrow-circle-parent1">
                <img
                  class="bxbxs-left-down-arrow-circle-icon6"
                  alt=""
                  src="./static/images/bxbxsleftdownarrowcircle.svg"
                />

                <img
                  class="bxbxs-phone-icon4"
                  alt=""
                  src="./static/images/bxbxsphone1.svg"
                />

                <div class="yesterday-0753-am-group">
                  <div class="yesterday-0753-am1">Yesterday, 07.53 AM</div>
                  <div class="div7">0:20</div>
                  <div class="kb2">47 KB</div>
                </div>
              </div>
            </div>
            <div class="call-history-inner5">
              <div class="group-parent1">
                <div class="group-frame">
                  <div class="july-07-0130-am-container">
                    <div class="july-07-01301">July 07, 01.30 AM</div>
                  </div>
                </div>
                <img
                  class="bxbxs-video-icon3"
                  alt=""
                  src="./static/images/bxbxsvideo1.svg"
                />

                <img
                  class="bxbxs-left-down-arrow-circle-icon7"
                  alt=""
                  src="./static/images/bxbxsleftdownarrowcircle1.svg"
                />
              </div>
            </div>
            <div class="call-history-inner6">
              <div class="bxbxs-left-down-arrow-circle-parent1">
                <img
                  class="bxbxs-left-down-arrow-circle-icon6"
                  alt=""
                  src="./static/images/bxbxsleftdownarrowcircle.svg"
                />

                <img
                  class="bxbxs-phone-icon4"
                  alt=""
                  src="./static/images/bxbxsphone1.svg"
                />

                <div class="july-05-0725-am-group">
                  <div class="july-05-07251">July 05, 07.25 AM</div>
                  <div class="mins3">4 mins</div>
                  <div class="kb3">230 KB</div>
                </div>
              </div>
            </div>
            <div class="bxbxs-phone-group">
              <img
                class="bxbxs-video-icon3"
                alt=""
                src="./static/images/bxbxsphone2.svg"
              />

              <div class="july-05-03301">July 05, 03.30 AM</div>
              <img
                class="bxbxs-left-down-arrow-circle-icon9"
                alt=""
                src="./static/images/bxbxsleftdownarrowcircle2.svg"
              />
            </div>
          </div>
          <div class="home1">
            <div class="fav-31">
              <div class="rectangle11"></div>
              <div class="preparing-for-next1">Preparing for next vac...</div>
              <div class="group5">
                <img
                  class="image-icon20"
                  alt=""
                  src="./static/images/image19@2x.png"
                />

                <div class="ellipse5"></div>
              </div>
              <div class="gregory-robertson1">Gregory Robertson</div>
            </div>
            <div class="fav-21">
              <div class="rectangle12"></div>
              <div class="id-like-to1">I’d like to watch ...</div>
              <div class="group5">
                <img
                  class="image-icon20"
                  alt=""
                  src="./static/images/image20@2x.png"
                />

                <div class="onlinestatusavailable2"></div>
              </div>
              <img
                class="bxbxs-share-icon2"
                alt=""
                src="./static/images/bxbxsshare.svg"
              />

              <div class="dwight-wilson1">Dwight Wilson</div>
            </div>
            <div class="fav-11">
              <div class="rectangle11"></div>
              <div class="group5">
                <img
                  class="image-icon20"
                  alt=""
                  src="./static/images/image21@2x.png"
                />

                <div class="ellipse6"></div>
              </div>
              <div class="mike-wazowski1">
                <p class="mike1">Mike</p>
                <p class="mike1">Wazowski</p>
              </div>
              <div class="thats-awesome-group">
                <div class="thats-awesome1">That’s awesome! ...</div>
                <img
                  class="bxbxs-share-icon3"
                  alt=""
                  src="./static/images/bxbxsshare1.svg"
                />
              </div>
            </div>
            <div class="fav-5-container">
              <div class="fav-51">
                <div class="rectangle14"></div>
                <div class="group5">
                  <img
                    class="image-icon23"
                    alt=""
                    src="./static/images/image22@2x.png"
                  />

                  <div class="ellipse6"></div>
                </div>
                <div class="mike-wazowski1">Darlene Steward</div>
                <div class="fav-5-item"></div>
                <div class="pls-take-a-look-at-the-container">
                  <div class="pls-take-a2">Pls take a look at the...</div>
                </div>
              </div>
            </div>
            <div class="header4">
              <div class="pinned-chats1">Pinned Chats</div>
              <div class="bars-status-bar-iphone-l4">
                <img
                  class="cellular-connection-icon4"
                  alt=""
                  src="./static/images/cellular-connection.svg"
                />

                <div class="battery3">
                  <img class="cap-icon4" alt="" src="./static/images/cap.svg" />

                  <div class="border3"></div>
                  <div class="capacity3"></div>
                </div>
                <img class="wifi-icon4" alt="" src="./static/images/wifi1.svg" />

                <div class="time-style3">
                  <div class="time3">9:41</div>
                </div>
              </div>
              <img class="image-icon24" alt="" src="./static/images/image23@2x.png" />
            </div>
          </div>
          <div class="group-child15"></div>
          <div class="recent-chats2">
            <div class="recent-chats-item"></div>
            <img
              class="dragindicator-icon1"
              alt=""
              src="./static/images/dragindicator.svg"
            />

            <div class="filter1">
              <div class="all-chats-container">
                <div class="all-chats1">All chats</div>
              </div>
              <div class="personal-container">
                <div class="personal1">Personal</div>
              </div>
              <div class="personal-container">
                <div class="work1">Work</div>
              </div>
              <div class="personal-container">
                <div class="groups1">Groups</div>
              </div>
            </div>
            <img class="search-icon2" alt="" src="./static/images/search.svg" />

            <div class="chat-41">
              <div class="message1">
                <div class="thanks-dude1">Thanks dude 😉</div>
                <img
                  class="messagecheck-icon1"
                  alt=""
                  src="./static/images/messagecheck.svg"
                />
              </div>
              <div class="yesterday2">Yesterday</div>
              <div class="ronald-mccoy1">Ronald Mccoy</div>
              <div class="photo9">
                <img class="image-icon25" alt="" src="./static/images/image9@2x.png" />

                <div class="onlinestatusoffline2"></div>
              </div>
            </div>
            <div class="chat-31">
              <div class="im-happy-this1">
                I‘m happy this anime has such grea...
              </div>
              <div class="yesterday3">Yesterday</div>
              <div class="photo9">
                <img
                  class="image-icon25"
                  alt=""
                  src="./static/images/image24@2x.png"
                />

                <div class="onlinestatusoffline2"></div>
              </div>
              <div class="albert-bell1">Albert Bell</div>
            </div>
            <div class="chat-21">
              <div class="hello-guys-we3">
                Hello guys, we have discussed about ...
              </div>
              <div class="div8">16.04</div>
              <div class="photo9">
                <img
                  class="image-icon25"
                  alt=""
                  src="./static/images/image25@2x.png"
                />

                <img
                  class="photo-item"
                  alt=""
                  src="./static/images/rectangle-123@2x.png"
                />
              </div>
              <div class="fullsnack-designers3">Fullsnack Designers</div>
            </div>
            <div class="recent-chats3">Recent Chats</div>
            <div class="chat-51">
              <div class="yes-thats-gonna1">
                Yes, that’s gonna work, hopefully.
              </div>
              <div class="div8">06.12</div>
              <div class="photo9">
                <img
                  class="image-icon25"
                  alt=""
                  src="./static/images/image26@2x.png"
                />

                <div class="onlinestatusavailable3"></div>
              </div>
              <div class="lee-williamson1">Lee Williamson</div>
            </div>
            <img class="frame-icon8" alt="" src="./static/images/frame3.svg" />
          </div>
          <div class="group-child16"></div>
          <div class="group-child17"></div>
          <div class="group-child18"></div>
          <div class="chat-11">
            <div class="rectangle15"></div>
            <div class="pls-take-a3">Pls take a look at the images.</div>
            <div class="chatnotification1">
              <b class="b1">5</b>
            </div>
            <div class="div10">18.31</div>
            <div class="darlene-steward5">Darlene Steward</div>
            <div class="photo13">
              <img class="image-icon29" alt="" src="./static/images/image27@2x.png" />

              <div class="onlinestatusbusy3"></div>
            </div>
          </div>
          <div class="frame-parent1">
            <div class="frame5">
              <div class="thats-very-nice-place-you-gu-group">
                <div class="thats-very-nice1">
                  That’s very nice place! you guys made a very good decision.
                  Can’t wait to go on vacation!
                </div>
                <div class="div11">16.04</div>
              </div>
            </div>
            <div class="image-parent2">
              <img class="image-icon30" alt="" src="./static/images/image28@2x.png" />

              <div class="ellipse8"></div>
            </div>
          </div>
          <div class="group-parent2">
            <div class="image-parent3">
              <img class="image-icon31" alt="" src="./static/images/image29@2x.png" />

              <div class="ellipse9"></div>
            </div>
            <img
              class="group-child19"
              alt=""
              src="./static/images/rectangle-311@2x.png"
            />

            <img
              class="group-child20"
              alt=""
              src="./static/images/rectangle-33@2x.png"
            />

            <img
              class="group-child21"
              alt=""
              src="./static/images/rectangle-341@2x.png"
            />
          </div>
          <div class="settings2">
            <div class="adina-nurrahma1">Adina Nurrahma</div>
            <div class="trust-your-feelings1">
              Trust your feelings , be a good human beings
            </div>
            <div class="darkmode1">
              <div class="darkmode-item"></div>
              <div class="dark-mode-group">
                <div class="dark-mode1">Dark mode</div>
                <div class="toggle1">
                  <div class="toggle-inner"></div>
                  <div class="toggle-child1"></div>
                </div>
                <img
                  class="bxbxs-moon-icon1"
                  alt=""
                  src="./static/images/bxbxsmoon.svg"
                />
              </div>
            </div>
            <div class="rectangle-parent6">
              <div class="dataandstorage-item"></div>
              <div class="notification-group">
                <div class="notification1">Notification</div>
                <img
                  class="bxbxs-bell-icon1"
                  alt=""
                  src="./static/images/bxbxsbell.svg"
                />
              </div>
              <img
                class="bxbx-chevron-right-icon5"
                alt=""
                src="./static/images/bxbxchevronright.svg"
              />
            </div>
            <div class="dataandstorage1">
              <div class="dataandstorage-item"></div>
              <div class="data-and-storage-group">
                <div class="data-and-storage1">Data and storage</div>
                <img
                  class="bxbxs-pie-chart-alt-2-icon1"
                  alt=""
                  src="./static/images/bxbxspiechartalt2.svg"
                />
              </div>
              <img
                class="bxbx-chevron-right-icon6"
                alt=""
                src="./static/images/bxbxchevronright.svg"
              />
            </div>
            <div class="account2">
              <div class="dataandstorage-item"></div>
              <div class="account-group">
                <div class="account3">Account</div>
                <img
                  class="bxbxs-user-rectangle-icon1"
                  alt=""
                  src="./static/images/bxbxsuserrectangle.svg"
                />
              </div>
              <img
                class="bxbx-chevron-right-icon7"
                alt=""
                src="./static/images/bxbxchevronright.svg"
              />
            </div>
            <div class="chatsettings1">
              <div class="dataandstorage-item"></div>
              <div class="chat-settings-group">
                <div class="chat-settings1">Chat settings</div>
                <img
                  class="bxbxs-message-rounded-icon1"
                  alt=""
                  src="./static/images/bxbxsmessagerounded.svg"
                />
              </div>
              <img
                class="bxbx-chevron-right-icon6"
                alt=""
                src="./static/images/bxbxchevronright.svg"
              />
            </div>
            <div class="privacyandsecurity1">
              <div class="dataandstorage-item"></div>
              <div class="privacy-and-security-group">
                <div class="privacy-and-security1">Privacy and security</div>
                <img
                  class="bxbxs-lock-icon1"
                  alt=""
                  src="./static/images/bxbxslock.svg"
                />
              </div>
              <img
                class="bxbx-chevron-right-icon6"
                alt=""
                src="./static/images/bxbxchevronright.svg"
              />
            </div>
            <div class="about2">
              <div class="dataandstorage-item"></div>
              <div class="about-group">
                <div class="about3">About</div>
                <img
                  class="bxbxs-info-circle-icon1"
                  alt=""
                  src="./static/images/bxbxsinfocircle.svg"
                />
              </div>
            </div>
            <img class="settings-item" alt="" src="./static/images/vector-92.svg" />

            <img class="frame-icon9" alt="" src="./static/images/frame4.svg" />

            <div class="header5">
              <div class="settings3">Settings</div>
              <div class="bars-status-bar-iphone-l5">
                <img
                  class="cellular-connection-icon4"
                  alt=""
                  src="./static/images/cellular-connection.svg"
                />

                <div class="battery3">
                  <img class="cap-icon4" alt="" src="./static/images/cap.svg" />

                  <div class="border3"></div>
                  <div class="capacity3"></div>
                </div>
                <img class="wifi-icon4" alt="" src="./static/images/wifi2.svg" />

                <div class="time-style3">
                  <div class="time3">9:41</div>
                </div>
              </div>
              <img class="avatar-icon1" alt="" src="./static/images/avatar@2x.png" />

              <img class="search-icon3" alt="" src="./static/images/search1.svg" />
            </div>
          </div>
        </div>
        <img class="cover-child2" alt="" src="./static/images/group-92.svg" />

        <img class="cover-child3" alt="" src="./public/group-92.svg" />

        <div class="cover-child4"></div>
        <div class="deviance-detection">Deviance Detection</div>
        <div class="rectangle-parent7">
          <button class="rectangle-button" id="Get Started"></button>
          <div class="get-started">Get Started!!</div>
        </div>
      </div>
    </div>

    <script>
      var rectangleButton = document.getElementById("Get Started");
      if (rectangleButton) {
        rectangleButton.addEventListener("click", function (e) {
          window.location.href = "./login.html";
        });
      }
      </script>
  </body>
</html>
