<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./static/css/global.css" />
    <link rel="stylesheet" href="./static/css/desktop-1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend Giga:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Eczar:wght@600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ek Mukta:wght@400;600&display=swap"
    />
  </head>
  <body>
    <button class="desktop-1">
      <div class="rectangle-parent1">
        <div class="group-child8"></div>
        <div class="group-frame">
          <div class="rectangle-parent2">
            <input
              class="rectangle-input"
              name="Type your text message here........"
              id="Type your text message here........"
              type="text"
            />

            <div class="type-your-text">
              Type your text message here............
            </div>
          </div>
        </div>
      </div>
      
    </button>
  </body>
</html>
