<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./static/css/global.css" />
    <link rel="stylesheet" href="./static/css/welcome.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend Giga:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Eczar:wght@600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ek Mukta:wght@400;600&display=swap"
    />
  </head>
  <body>
    <div class="welcome">
      <div class="cover">
        <div class="rectangle-parent">
          <div class="group-child"></div>
          <div class="group-item"></div>
          <div class="group-inner"></div>
          <div class="group-chat">
            <div class="frame">
              <div class="mike-mazowski">Mike Mazowski</div>
              <div class="hello-guys-we-have-discussed-parent">
                <div class="hello-guys-we">
                  Hello guys, we have discussed about post-corona vacation plan
                  and our decision is to go to Bali. We will have a very big
                  party after this corona ends! These are some images about our
                  destination
                </div>
                <div class="div">16.04</div>
              </div>
            </div>
            <div class="admin">admin</div>
            <div class="frame1">
              <div class="frame-child"></div>
              <div class="frame-child"></div>
              <div class="frame-child"></div>
            </div>
            <div class="image-parent">
              <img class="image-icon" alt="" src="./static/images/image@2x.png" />

              <img class="image-icon1" alt="" src="./static/images/image1@2x.png" />

              <img class="image-icon2" alt="" src="./static/images/image2@2x.png" />

              <div class="others-are-typing">+2 others are typing</div>
            </div>
            <div class="frame-parent">
              <div class="general-wrapper">
                <div class="general"># General</div>
              </div>
              <img
                class="bxbx-chevron-down-icon"
                alt=""
                src="./static/images/bxbxchevrondown.svg"
              />

              <img
                class="bxbx-dots-vertical-rounded-icon"
                alt=""
                src="./static/images/bxbxdotsverticalrounded.svg"
              />
            </div>
            <div class="rectangle-group">
              <div class="rectangle"></div>
              <img
                class="bxbxs-video-icon"
                alt=""
                src="./static/images/bxbxsvideo.svg"
              />

              <img class="frame-icon" alt="" src="./static/images/frame.svg" />

              <div class="group">
                <div class="online-from-12">7 Online, from 12 peoples</div>
                <div class="fullsnack-designers">Fullsnack Designers</div>
              </div>
              <img
                class="rectangle-icon"
                alt=""
                src="./static/images/rectangle-12@2x.png"
              />

              <img
                class="bxbx-dots-vertical-rounded-icon1"
                alt=""
                src="./static/images/bxbxdotsverticalrounded1.svg"
              />
            </div>
            <div class="rectangle-container">
              <div class="rectangle1"></div>
              <div class="ellipse-div"></div>
              <div class="write-a-message">Write a message...</div>
              <img class="frame-icon1" alt="" src="./static/images/frame1.svg" />

              <img
                class="bxbxs-microphone-icon"
                alt=""
                src="./static/images/bxbxsmicrophone.svg"
              />

              <img class="frame-icon2" alt="" src="./static/images/frame2.svg" />

              <img
                class="bxbx-smile-icon"
                alt=""
                src="./static/images/bxbxsmile.svg"
              />
            </div>
            <div class="header">
              <div class="bars-status-bar-iphone-l">
                <img
                  class="cellular-connection-icon"
                  alt=""
                  src="./static/images/cellular-connection.svg"
                />

                <div class="battery">
                  <img class="cap-icon" alt="" src="./static/images/cap.svg" />

                  <div class="border"></div>
                  <div class="capacity"></div>
                </div>
                <img class="wifi-icon" alt="" src="./static/images/wifi.svg" />

                <div class="time-style">
                  <div class="time">9:41</div>
                </div>
              </div>
            </div>
            <img class="group-chat-child" alt="" src="./static/images/vector-9.svg" />

            <img class="group-chat-item" alt="" src="./static/images/vector-10.svg" />
          </div>
          <div class="call-history">
            <div class="rectangle2"></div>
            <div class="darlene-steward-parent">
              <div class="darlene-steward">Darlene Steward</div>
              <div class="call-history1">Call history</div>
            </div>
            <div class="photo">
              <img class="image-icon3" alt="" src="./static/images/image3@2x.png" />

              <div class="onlinestatusbusy"></div>
            </div>
            <img
              class="bxbx-dots-vertical-rounded-icon2"
              alt=""
              src="./static/images/bxbxdotsverticalrounded2.svg"
            />

            <img
              class="call-history-child"
              alt=""
              src="./static/images/vector-91.svg"
            />

            <div class="call-history-inner">
              <div class="bxbxs-left-down-arrow-circle-parent">
                <img
                  class="bxbxs-left-down-arrow-circle-icon"
                  alt=""
                  src="./static/images/bxbxsleftdownarrowcircle.svg"
                />

                <img
                  class="bxbxs-phone-icon"
                  alt=""
                  src="./static/images/bxbxsphone.svg"
                />

                <div class="am-parent">
                  <div class="am">03.30 AM</div>
                  <div class="mins">33 mins</div>
                  <div class="mb">12.3 MB</div>
                </div>
              </div>
            </div>
            <div class="frame-div">
              <div class="bxbxs-left-down-arrow-circle-parent">
                <img
                  class="bxbxs-left-down-arrow-circle-icon1"
                  alt=""
                  src="./static/images/bxbxsleftdownarrowcircle.svg"
                />

                <img
                  class="bxbxs-phone-icon"
                  alt=""
                  src="./static/images/bxbxsphone1.svg"
                />

                <div class="yesterday-0753-am-parent">
                  <div class="yesterday-0753-am">Yesterday, 07.53 AM</div>
                  <div class="div1">0:20</div>
                  <div class="kb">47 KB</div>
                </div>
              </div>
            </div>
            <div class="call-history-inner1">
              <div class="group-parent">
                <div class="group-wrapper">
                  <div class="july-07-0130-am-wrapper">
                    <div class="july-07-0130">July 07, 01.30 AM</div>
                  </div>
                </div>
                <img
                  class="bxbxs-video-icon1"
                  alt=""
                  src="./static/images/bxbxsvideo1.svg"
                />

                <img
                  class="bxbxs-left-down-arrow-circle-icon2"
                  alt=""
                  src="./static/images/bxbxsleftdownarrowcircle1.svg"
                />
              </div>
            </div>
            <div class="call-history-inner2">
              <div class="bxbxs-left-down-arrow-circle-parent">
                <img
                  class="bxbxs-left-down-arrow-circle-icon1"
                  alt=""
                  src="./static/images/bxbxsleftdownarrowcircle.svg"
                />

                <img
                  class="bxbxs-phone-icon"
                  alt=""
                  src="./static/images/bxbxsphone1.svg"
                />

                <div class="july-05-0725-am-parent">
                  <div class="july-05-0725">July 05, 07.25 AM</div>
                  <div class="mins1">4 mins</div>
                  <div class="kb1">230 KB</div>
                </div>
              </div>
            </div>
            <div class="bxbxs-phone-parent">
              <img
                class="bxbxs-video-icon1"
                alt=""
                src="./static/images/bxbxsphone2.svg"
              />

              <div class="july-05-0330">July 05, 03.30 AM</div>
              <img
                class="bxbxs-left-down-arrow-circle-icon4"
                alt=""
                src="./static/images/bxbxsleftdownarrowcircle2.svg"
              />
            </div>
          </div>
          <div class="home">
            <div class="fav-3">
              <div class="rectangle3"></div>
              <div class="preparing-for-next">Preparing for next vac...</div>
              <div class="group1">
                <img class="image-icon4" alt="" src="./static/images/image4@2x.png" />

                <div class="ellipse"></div>
              </div>
              <div class="gregory-robertson">Gregory Robertson</div>
            </div>
            <div class="fav-2">
              <div class="rectangle4"></div>
              <div class="id-like-to">I’d like to watch ...</div>
              <div class="group1">
                <img class="image-icon4" alt="" src="./static/images/image5@2x.png" />

                <div class="onlinestatusavailable"></div>
              </div>
              <img
                class="bxbxs-share-icon"
                alt=""
                src="./static/images/bxbxsshare.svg"
              />

              <div class="dwight-wilson">Dwight Wilson</div>
            </div>
            <div class="fav-1">
              <div class="rectangle3"></div>
              <div class="group1">
                <img class="image-icon4" alt="" src="./static/images/image6@2x.png" />

                <div class="ellipse1"></div>
              </div>
              <div class="mike-wazowski">
                <p class="mike">Mike</p>
                <p class="mike">Wazowski</p>
              </div>
              <div class="thats-awesome-parent">
                <div class="thats-awesome">That’s awesome! ...</div>
                <img
                  class="bxbxs-share-icon1"
                  alt=""
                  src="./static/images/bxbxsshare1.svg"
                />
              </div>
            </div>
            <div class="fav-5-wrapper">
              <div class="fav-5">
                <div class="rectangle6"></div>
                <div class="group1">
                  <img
                    class="image-icon7"
                    alt=""
                    src="./static/images/image7@2x.png"
                  />

                  <div class="ellipse1"></div>
                </div>
                <div class="mike-wazowski">Darlene Steward</div>
                <div class="fav-5-child"></div>
                <div class="pls-take-a-look-at-the-wrapper">
                  <div class="pls-take-a">Pls take a look at the...</div>
                </div>
              </div>
            </div>
            <div class="header1">
              <div class="pinned-chats">Pinned Chats</div>
              <div class="bars-status-bar-iphone-l1">
                <img
                  class="cellular-connection-icon1"
                  alt=""
                  src="./static/images/cellular-connection.svg"
                />

                <div class="battery">
                  <img class="cap-icon1" alt="" src="./static/images/cap.svg" />

                  <div class="border"></div>
                  <div class="capacity"></div>
                </div>
                <img class="wifi-icon1" alt="" src="./static/images/wifi1.svg" />

                <div class="time-style">
                  <div class="time">9:41</div>
                </div>
              </div>
              <img class="image-icon8" alt="" src="./static/images/image8@2x.png" />
            </div>
          </div>
          <div class="rectangle-div"></div>
          <div class="recent-chats">
            <div class="recent-chats-child"></div>
            <img
              class="dragindicator-icon"
              alt=""
              src="./static/images/dragindicator.svg"
            />

            <div class="filter">
              <div class="all-chats-wrapper">
                <div class="all-chats">All chats</div>
              </div>
              <div class="personal-wrapper">
                <div class="personal">Personal</div>
              </div>
              <div class="personal-wrapper">
                <div class="work">Work</div>
              </div>
              <div class="personal-wrapper">
                <div class="groups">Groups</div>
              </div>
            </div>
            <img class="search-icon" alt="" src="./static/images/search.svg" />

            <div class="chat-4">
              <div class="message">
                <div class="thanks-dude">Thanks dude 😉</div>
                <img
                  class="messagecheck-icon"
                  alt=""
                  src="./static/images/messagecheck.svg"
                />
              </div>
              <div class="yesterday">Yesterday</div>
              <div class="ronald-mccoy">Ronald Mccoy</div>
              <div class="photo2">
                <img class="image-icon9" alt="" src="./static/images/image9@2x.png" />

                <div class="onlinestatusoffline"></div>
              </div>
            </div>
            <div class="chat-3">
              <div class="im-happy-this">
                I‘m happy this anime has such grea...
              </div>
              <div class="yesterday1">Yesterday</div>
              <div class="photo2">
                <img class="image-icon9" alt="" src="./static/images/image10@2x.png" />

                <div class="onlinestatusoffline"></div>
              </div>
              <div class="albert-bell">Albert Bell</div>
            </div>
            <div class="chat-2">
              <div class="hello-guys-we1">
                Hello guys, we have discussed about ...
              </div>
              <div class="div2">16.04</div>
              <div class="photo2">
                <img class="image-icon9" alt="" src="./static/images/image11@2x.png" />

                <img
                  class="photo-child"
                  alt=""
                  src="./static/images/rectangle-121@2x.png"
                />
              </div>
              <div class="fullsnack-designers1">Fullsnack Designers</div>
            </div>
            <div class="recent-chats1">Recent Chats</div>
            <div class="chat-5">
              <div class="yes-thats-gonna">
                Yes, that’s gonna work, hopefully.
              </div>
              <div class="div2">06.12</div>
              <div class="photo2">
                <img class="image-icon9" alt="" src="./static/images/image12@2x.png" />

                <div class="onlinestatusavailable1"></div>
              </div>
              <div class="lee-williamson">Lee Williamson</div>
            </div>
            <img class="frame-icon3" alt="" src="./static/images/frame3.svg" />
          </div>
          <div class="group-child1"></div>
          <div class="group-child2"></div>
          <div class="group-child3"></div>
          <div class="chat-1">
            <div class="rectangle7"></div>
            <div class="pls-take-a1">Pls take a look at the images.</div>
            <div class="chatnotification">
              <b class="b">5</b>
            </div>
            <div class="div4">18.31</div>
            <div class="darlene-steward2">Darlene Steward</div>
            <div class="photo6">
              <img class="image-icon13" alt="" src="./static/images/image13@2x.png" />

              <div class="onlinestatusbusy1"></div>
            </div>
          </div>
          <div class="frame-group">
            <div class="frame2">
              <div class="thats-very-nice-place-you-gu-parent">
                <div class="thats-very-nice">
                  That’s very nice place! you guys made a very good decision.
                  Can’t wait to go on vacation!
                </div>
                <div class="div5">16.04</div>
              </div>
            </div>
            <div class="image-group">
              <img class="image-icon14" alt="" src="./static/images/image14@2x.png" />

              <div class="ellipse3"></div>
            </div>
          </div>
          <div class="group-container">
            <div class="image-container">
              <img class="image-icon15" alt="" src="./static/images/image15@2x.png" />

              <div class="ellipse4"></div>
            </div>
            <img
              class="group-child4"
              alt=""
              src="./static/images/rectangle-31@2x.png"
            />

            <img
              class="group-child5"
              alt=""
              src="./static/images/rectangle-33@2x.png"
            />

            <img
              class="group-child6"
              alt=""
              src="./static/images/rectangle-34@2x.png"
            />
          </div>
          <div class="settings">
            <div class="adina-nurrahma">Adina Nurrahma</div>
            <div class="trust-your-feelings">
              Trust your feelings , be a good human beings
            </div>
            <div class="darkmode">
              <div class="darkmode-child"></div>
              <div class="dark-mode-parent">
                <div class="dark-mode">Dark mode</div>
                <div class="toggle">
                  <div class="toggle-child"></div>
                  <div class="toggle-item"></div>
                </div>
                <img
                  class="bxbxs-moon-icon"
                  alt=""
                  src="./static/images/bxbxsmoon.svg"
                />
              </div>
            </div>
            <div class="group-div">
              <div class="dataandstorage-child"></div>
              <div class="notification-parent">
                <div class="notification">Notification</div>
                <img
                  class="bxbxs-bell-icon"
                  alt=""
                  src="./static/images/bxbxsbell.svg"
                />
              </div>
              <img
                class="bxbx-chevron-right-icon"
                alt=""
                src="./static/images/bxbxchevronright.svg"
              />
            </div>
            <div class="dataandstorage">
              <div class="dataandstorage-child"></div>
              <div class="data-and-storage-parent">
                <div class="data-and-storage">Data and storage</div>
                <img
                  class="bxbxs-pie-chart-alt-2-icon"
                  alt=""
                  src="./static/images/bxbxspiechartalt2.svg"
                />
              </div>
              <img
                class="bxbx-chevron-right-icon1"
                alt=""
                src="./static/images/bxbxchevronright.svg"
              />
            </div>
            <div class="account">
              <div class="dataandstorage-child"></div>
              <div class="account-parent">
                <div class="account1">Account</div>
                <img
                  class="bxbxs-user-rectangle-icon"
                  alt=""
                  src="./static/images/bxbxsuserrectangle.svg"
                />
              </div>
              <img
                class="bxbx-chevron-right-icon2"
                alt=""
                src="./static/images/bxbxchevronright.svg"
              />
            </div>
            <div class="chatsettings">
              <div class="dataandstorage-child"></div>
              <div class="chat-settings-parent">
                <div class="chat-settings">Chat settings</div>
                <img
                  class="bxbxs-message-rounded-icon"
                  alt=""
                  src="./static/images/bxbxsmessagerounded.svg"
                />
              </div>
              <img
                class="bxbx-chevron-right-icon1"
                alt=""
                src="./static/images/bxbxchevronright.svg"
              />
            </div>
            <div class="privacyandsecurity">
              <div class="dataandstorage-child"></div>
              <div class="privacy-and-security-parent">
                <div class="privacy-and-security">Privacy and security</div>
                <img
                  class="bxbxs-lock-icon"
                  alt=""
                  src="./static/images/bxbxslock.svg"
                />
              </div>
              <img
                class="bxbx-chevron-right-icon1"
                alt=""
                src="./static/images/bxbxchevronright.svg"
              />
            </div>
            <div class="about">
              <div class="dataandstorage-child"></div>
              <div class="about-parent">
                <div class="about1">About</div>
                <img
                  class="bxbxs-info-circle-icon"
                  alt=""
                  src="./static/images/bxbxsinfocircle.svg"
                />
              </div>
            </div>
            <img class="settings-child" alt="" src="./static/images/vector-92.svg" />

            <img class="frame-icon4" alt="" src="./static/images/frame4.svg" />

            <div class="header2">
              <div class="settings1">Settings</div>
              <div class="bars-status-bar-iphone-l2">
                <img
                  class="cellular-connection-icon1"
                  alt=""
                  src="./static/images/cellular-connection.svg"
                />

                <div class="battery">
                  <img class="cap-icon1" alt="" src="./static/images/cap.svg" />

                  <div class="border"></div>
                  <div class="capacity"></div>
                </div>
                <img class="wifi-icon1" alt="" src="./static/images/wifi2.svg" />

                <div class="time-style">
                  <div class="time">9:41</div>
                </div>
              </div>
              <img class="avatar-icon" alt="" src="./static/images/avatar@2x.png" />

              <img class="search-icon1" alt="" src="./static/images/search1.svg" />
            </div>
          </div>
        </div>
        <img class="cover-child" alt="" src="./static/images/group-92.svg" />

        <img class="cover-item" alt="" src="./static/images/group-92.svg" />

        <div class="cover-inner"></div>
        <div class="welcome1">Welcome,</div>
        <div class="you-have-successfully">
          You have successfully logged in!
        </div>
        <div class="cover-child1"></div>
        
        <button class="start-chatting" id="startChatting">Start Chatting!!</button>
      </div>
    </div>
    <script>
      var rectangleButton = document.getElementById("startChatting");
      if (rectangleButton) {
        rectangleButton.addEventListener("click", function (e) {
          window.location.href = "./index.html";
        });
      }
      </script>
    </body>
    </html>
  </body>
</html>

