.group-child,
.group-inner,
.group-item {
  position: absolute;
  top: 910.7px;
  left: 559.5px;
  background-color: var(--color-darkslateblue-100);
  filter: blur(99.61px);
  width: 367.1px;
  height: 504.9px;
  transform: rotate(-30deg);
  transform-origin: 0 0;
  opacity: 0.1;
}
.group-inner,
.group-item {
  top: 929.8px;
  left: 51.5px;
  opacity: 0.07;
}
.group-inner {
  top: 429.3px;
  left: 733.8px;
  opacity: 0.1;
}
.mike-mazowski {
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  width: 69.7px;
  height: 13.3px;
  flex-shrink: 0;
}
.div,
.hello-guys-we {
  position: absolute;
  display: flex;
  align-items: flex-end;
}
.hello-guys-we {
  top: 0;
  left: 0;
  line-height: 14.94px;
  width: 194.2px;
  height: 74.7px;
}
.div {
  top: 74.7px;
  left: 174.3px;
  color: var(--color-lightsteelblue);
  width: 26.6px;
  height: 13.3px;
}
.hello-guys-we-have-discussed-parent {
  position: relative;
  width: 200.9px;
  height: 88px;
  color: var(--text-primary);
}
.admin,
.frame {
  position: absolute;
  display: flex;
}
.frame {
  top: 116.2px;
  left: 53.1px;
  border-radius: 6.64px;
  background-color: var(--color-whitesmoke-200);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6.640504837036133px 8.300630569458008px;
  gap: var(--gap-4xs-3);
  color: var(--orange);
}
.admin {
  top: 121.2px;
  left: 227.4px;
  line-height: 14.94px;
  color: var(--color-lightsteelblue);
  align-items: flex-end;
  width: 28.2px;
  height: 14.9px;
}
.frame-child {
  position: relative;
  border-radius: 50%;
  background-color: var(--text-secondary);
  width: 3.3px;
  height: 3.3px;
}
.frame1 {
  position: absolute;
  top: 520.3px;
  left: 25.9px;
  border-radius: 6.64px;
  background-color: var(--color-whitesmoke-200);
  height: 19.9px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6.640504837036133px 9.9607572555542px;
  box-sizing: border-box;
  gap: var(--gap-4xs-3);
}
.image-icon,
.image-icon1,
.image-icon2 {
  position: absolute;
  top: 1.7px;
  left: 0;
  border-radius: 19.92px;
  width: 13.3px;
  height: 13.3px;
  object-fit: cover;
}
.image-icon1,
.image-icon2 {
  left: 8.3px;
}
.image-icon2 {
  left: 14.9px;
}
.others-are-typing {
  position: absolute;
  top: 0;
  left: 31.5px;
  display: flex;
  align-items: flex-end;
  width: 90.5px;
  height: 13.3px;
}
.image-parent {
  position: absolute;
  top: 521.9px;
  left: 79px;
  width: 122px;
  height: 14.9px;
}
.general {
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  width: 46.5px;
  height: 13.3px;
  flex-shrink: 0;
}
.general-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6.64px 6.64px 0 0;
  background-color: var(--color-white);
  box-shadow: 0 3.3px 26.56px rgba(45, 156, 219, 0.16);
  width: 311.3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9.9607572555542px 13.281009674072266px;
  box-sizing: border-box;
}
.bxbx-chevron-down-icon,
.bxbx-dots-vertical-rounded-icon {
  position: absolute;
  top: 23.2px;
  left: 248.2px;
  border-radius: 6.64px 6.64px 0 0;
  width: 13.3px;
  height: 13.3px;
  overflow: hidden;
}
.bxbx-dots-vertical-rounded-icon {
  top: 10px;
  left: 281.4px;
}
.frame-parent,
.rectangle {
  position: absolute;
  left: 0;
  width: 311.3px;
}
.frame-parent {
  top: 569.4px;
  height: 33.2px;
  color: var(--blue-1);
}
.rectangle {
  top: 0;
  background-color: var(--color-white);
  height: 83px;
}
.bxbxs-video-icon,
.frame-icon {
  position: absolute;
  top: 56.4px;
  left: 243.2px;
  width: 19.9px;
  height: 19.9px;
  overflow: hidden;
}
.frame-icon {
  top: 23.4px;
  left: 26.9px;
  width: 27.2px;
  height: 27.2px;
}
.fullsnack-designers,
.online-from-12 {
  position: absolute;
  left: 0;
  display: flex;
  align-items: flex-end;
}
.online-from-12 {
  top: 20.8px;
  line-height: 14.94px;
  width: 114.5px;
  height: 14.9px;
}
.fullsnack-designers {
  top: 0;
  font-size: 14.94px;
  font-weight: 500;
  color: var(--text-primary);
  width: 137.8px;
  height: 19.1px;
}
.group,
.rectangle-icon {
  position: absolute;
  top: 34px;
  left: 81.3px;
  width: 137.8px;
  height: 35.7px;
}
.rectangle-icon {
  top: -24.4px;
  left: 25.7px;
  border-radius: 176.39px;
  width: 93px;
  height: 93px;
  object-fit: cover;
}
.bxbx-dots-vertical-rounded-icon1 {
  position: absolute;
  height: 23.98%;
  width: 6.39%;
  top: 67.95%;
  right: 2.15%;
  bottom: 8.07%;
  left: 91.46%;
  border-radius: 6.64px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipse-div,
.rectangle-group,
.rectangle1 {
  position: absolute;
  top: 14.1px;
  left: 0;
  width: 311.3px;
  height: 83px;
}
.ellipse-div,
.rectangle1 {
  top: 0;
  background-color: var(--color-white);
  height: 71.4px;
}
.ellipse-div {
  top: 6.6px;
  left: 264.8px;
  border-radius: 50%;
  background-color: var(--blue-1);
  width: 33.2px;
  height: 33.2px;
}
.write-a-message {
  position: absolute;
  top: 13.3px;
  left: 46.5px;
  line-height: 14.94px;
  display: flex;
  align-items: flex-end;
  width: 83px;
  height: 14.9px;
  opacity: 0.5;
}
.bxbxs-microphone-icon,
.frame-icon1 {
  position: absolute;
  top: 13.3px;
  width: 19.9px;
  height: 19.9px;
  overflow: hidden;
}
.frame-icon1 {
  left: 231.6px;
  opacity: 0.5;
}
.bxbxs-microphone-icon {
  left: 271.4px;
}
.bxbx-smile-icon,
.frame-icon2 {
  position: absolute;
  top: 43.2px;
  left: 0;
  width: 311.3px;
  height: 28.2px;
}
.bxbx-smile-icon {
  top: 13.3px;
  left: 13.3px;
  width: 19.9px;
  height: 19.9px;
  overflow: hidden;
  opacity: 0.5;
}
.rectangle-container {
  position: absolute;
  top: 602.6px;
  left: 0;
  width: 311.3px;
  height: 71.4px;
  color: var(--text-primary);
}
.cellular-connection-icon {
  position: relative;
  width: 14.1px;
  height: 8.9px;
}
.border,
.cap-icon {
  position: absolute;
  mix-blend-mode: normal;
}
.cap-icon {
  height: 35.11%;
  width: 5.45%;
  top: 31.91%;
  right: 0;
  bottom: 32.98%;
  left: 94.55%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.4;
}
.border {
  height: 100%;
  width: 90.59%;
  top: 0;
  right: 9.41%;
  bottom: 0;
  left: 0;
  border-radius: 2.21px;
  border: 0.8px solid var(--color-text-2);
  box-sizing: border-box;
  opacity: 0.35;
}
.capacity {
  position: absolute;
  height: 64.89%;
  width: 73.76%;
  top: 18.09%;
  right: 17.82%;
  bottom: 17.02%;
  left: 8.42%;
  border-radius: 1.11px;
  background-color: var(--color-text-2);
}
.battery {
  position: absolute;
  height: 25.75%;
  width: 6.49%;
  top: 39.45%;
  right: 6.49%;
  bottom: 34.79%;
  left: 87.02%;
}
.wifi-icon {
  position: relative;
  width: 12.7px;
  height: 9.1px;
}
.time {
  position: absolute;
  width: 100%;
  top: calc(50% - 3.7px);
  left: 0;
  letter-spacing: -0.2px;
  line-height: 16.6px;
  font-weight: 600;
  display: inline-block;
  height: 16.6px;
}
.time-style {
  position: absolute;
  height: 47.67%;
  width: 14.39%;
  top: 15.89%;
  right: 80.02%;
  bottom: 36.44%;
  left: 5.59%;
}
.bars-status-bar-iphone-l,
.header {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.bars-status-bar-iphone-l {
  height: 100%;
  bottom: 0;
  background-color: var(--color-white);
}
.header {
  height: 5.42%;
  bottom: 94.58%;
  text-align: center;
  font-size: 12.45px;
  color: var(--color-text-2);
}
.group-chat,
.group-chat-child,
.group-chat-item {
  position: absolute;
  top: -71.9px;
  left: 48.4px;
  width: 311.3px;
  height: 156.4px;
}
.group-chat,
.group-chat-item {
  top: 602.6px;
  left: 0;
  height: 0;
}
.group-chat {
  top: 223.3px;
  left: 649.9px;
  border-radius: 13.28px;
  background-color: var(--color-white);
  height: 674px;
  overflow: hidden;
  transform: rotate(-30deg);
  transform-origin: 0 0;
}
.rectangle2 {
  position: absolute;
  top: 0;
  left: 8.1px;
  border-radius: 8.12px;
  background-color: var(--blue-1);
  width: 364.4px;
  height: 65px;
  display: none;
  opacity: 0.1;
}
.call-history1,
.darlene-steward {
  position: absolute;
  left: 0;
  display: flex;
  align-items: flex-end;
  height: 18.3px;
}
.darlene-steward {
  top: 22.3px;
  font-weight: 500;
  width: 111.7px;
}
.call-history1 {
  top: 0;
  font-size: 12.18px;
  line-height: 18.27px;
  color: var(--text-secondary);
  width: 61.9px;
}
.darlene-steward-parent {
  position: absolute;
  top: 20.3px;
  left: 81.2px;
  width: 111.7px;
  height: 40.6px;
  font-size: 14.21px;
}
.image-icon3 {
  position: absolute;
  top: -15.4px;
  left: 8.9px;
  border-radius: 27.41px;
  width: 48.7px;
  height: 48.7px;
  object-fit: cover;
}
.onlinestatusbusy {
  position: absolute;
  top: 36.5px;
  left: 36.5px;
  border-radius: 50%;
  background-color: var(--yellow);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 12.2px;
  height: 12.2px;
}
.photo {
  position: absolute;
  top: 16.2px;
  left: 16.2px;
  width: 48.7px;
  height: 48.7px;
}
.bxbx-dots-vertical-rounded-icon2 {
  position: absolute;
  height: 20.69%;
  width: 11.68%;
  top: -36.68%;
  right: 14.96%;
  bottom: 115.99%;
  left: 73.36%;
  border-radius: 8.12px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.call-history-child {
  position: absolute;
  top: -86.4px;
  left: 40.3px;
  width: 312.6px;
  height: 157.2px;
}
.bxbxs-left-down-arrow-circle-icon,
.bxbxs-phone-icon {
  position: absolute;
  top: 1.5px;
  left: 5.6px;
  width: 22.2px;
  height: 16.2px;
  overflow: hidden;
}
.bxbxs-phone-icon {
  top: 15.2px;
  left: 262.9px;
  width: 24.4px;
  height: 24.4px;
}
.am,
.mins {
  left: 0;
  display: flex;
  align-items: flex-end;
}
.am {
  position: absolute;
  top: 0;
  line-height: 18.27px;
  color: var(--text-primary);
  width: 56.8px;
  height: 18.3px;
}
.mins {
  top: 22.3px;
  width: 42.6px;
  height: 16.2px;
}
.am-parent,
.mb,
.mins {
  position: absolute;
}
.mb {
  top: 22.3px;
  left: 48.7px;
  display: flex;
  align-items: flex-end;
  width: 43.6px;
  height: 16.2px;
}
.am-parent {
  top: 0;
  left: 24.4px;
  width: 92.4px;
  height: 38.6px;
}
.bxbxs-left-down-arrow-circle-parent,
.call-history-inner {
  position: absolute;
  top: 8.1px;
  left: 8.1px;
  width: 279.1px;
  height: 38.6px;
}
.call-history-inner {
  top: 89.3px;
  width: 295.4px;
  height: 54.8px;
  color: var(--text-secondary);
}
.bxbxs-left-down-arrow-circle-icon1 {
  position: absolute;
  top: 19.3px;
  left: 8.1px;
  width: 16.2px;
  height: 16.2px;
  overflow: hidden;
}
.div1,
.kb,
.yesterday-0753-am {
  position: absolute;
  left: 0;
  display: flex;
  align-items: flex-end;
}
.yesterday-0753-am {
  top: 0;
  line-height: 18.27px;
  color: var(--text-primary);
  width: 115.7px;
  height: 18.3px;
}
.div1,
.kb {
  top: 22.3px;
  width: 28.4px;
  height: 16.2px;
}
.kb {
  left: 48.7px;
  width: 33.5px;
}
.frame-div,
.yesterday-0753-am-parent {
  position: absolute;
  top: 0;
  left: 24.4px;
  width: 115.7px;
  height: 38.6px;
}
.frame-div {
  top: 148.2px;
  left: 8.1px;
  width: 295.4px;
  height: 54.8px;
  color: var(--text-secondary);
}
.july-07-0130 {
  line-height: 18.27px;
  display: flex;
  align-items: flex-end;
}
.group-wrapper,
.july-07-0130,
.july-07-0130-am-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 98.5px;
  height: 18.3px;
}
.group-wrapper {
  top: 3px;
  left: 24.4px;
}
.bxbxs-video-icon1 {
  position: absolute;
  top: 13.2px;
  left: 262.9px;
  width: 24.4px;
  height: 24.4px;
  overflow: hidden;
}
.bxbxs-left-down-arrow-circle-icon2 {
  position: absolute;
  top: 17.3px;
  left: 8.1px;
  width: 16.2px;
  height: 16.2px;
  overflow: hidden;
}
.call-history-inner1,
.group-parent {
  position: absolute;
  top: 13.2px;
  left: 8.1px;
  width: 279.1px;
  height: 24.4px;
}
.call-history-inner1 {
  top: 207.1px;
  width: 295.4px;
  height: 50.8px;
}
.july-05-0725,
.kb1,
.mins1 {
  position: absolute;
  left: 0;
  display: flex;
  align-items: flex-end;
}
.july-05-0725 {
  top: 0;
  line-height: 18.27px;
  color: var(--text-primary);
  width: 99.5px;
  height: 18.3px;
}
.kb1,
.mins1 {
  top: 22.3px;
  width: 36.5px;
  height: 16.2px;
}
.kb1 {
  left: 48.7px;
  width: 41.6px;
}
.july-05-0725-am-parent {
  position: absolute;
  top: 0;
  left: 24.4px;
  width: 99.5px;
  height: 38.6px;
}
.call-history-inner2 {
  position: absolute;
  top: 261.9px;
  left: 8.1px;
  width: 295.4px;
  height: 54.8px;
  color: var(--text-secondary);
}
.july-05-0330 {
  position: absolute;
  top: 16.2px;
  left: 32.5px;
  line-height: 18.27px;
  display: flex;
  align-items: flex-end;
  width: 101.5px;
  height: 18.3px;
}
.bxbxs-left-down-arrow-circle-icon4 {
  position: absolute;
  top: 33.5px;
  left: 24.4px;
  width: 16.2px;
  height: 16.2px;
  overflow: hidden;
}
.bxbxs-phone-parent,
.call-history {
  position: absolute;
  top: 320.8px;
  left: 8.1px;
  width: 295.4px;
  height: 50.8px;
}
.call-history {
  top: 866.3px;
  left: 536px;
  border-radius: 8.12px;
  background-color: var(--color-white);
  width: 311.6px;
  height: 384.7px;
  transform: rotate(-30deg);
  transform-origin: 0 0;
  font-size: 12.18px;
  color: var(--text-primary);
}
.rectangle3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6.64px;
  background-color: var(--color-whitesmoke-200);
  width: 138.6px;
  height: 84.7px;
}
.preparing-for-next {
  position: absolute;
  top: 53.1px;
  left: 13.3px;
  line-height: 14.94px;
  display: inline-block;
  width: 120.4px;
  height: 14.9px;
}
.image-icon4 {
  position: absolute;
  top: -9.5px;
  left: 5.5px;
  border-radius: 17.43px;
  width: 29.9px;
  height: 29.9px;
  object-fit: cover;
}
.ellipse {
  position: absolute;
  top: 19.9px;
  left: 19.9px;
  border-radius: 50%;
  background-color: var(--color-silver);
  border: 1.7px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 10px;
  height: 10px;
}
.gregory-robertson,
.group1 {
  position: absolute;
  top: 13.3px;
  left: 13.3px;
  width: 29.9px;
  height: 29.9px;
}
.gregory-robertson {
  left: 49.8px;
  font-size: 11.62px;
  font-weight: 500;
  color: var(--text-primary);
  display: inline-block;
  width: 73px;
}
.fav-3,
.rectangle4 {
  position: absolute;
  height: 84.7px;
}
.fav-3 {
  top: 177.6px;
  left: 13.3px;
  width: 138.6px;
  color: var(--text-secondary);
}
.rectangle4 {
  top: 0;
  left: 0;
  border-radius: 6.64px;
  background-color: var(--color-whitesmoke-200);
  width: 139.5px;
}
.id-like-to {
  position: absolute;
  top: 53.1px;
  left: 29.9px;
  line-height: 14.94px;
  display: inline-block;
  width: 100.4px;
  height: 14.9px;
}
.onlinestatusavailable {
  position: absolute;
  top: 19.9px;
  left: 19.9px;
  border-radius: 50%;
  background-color: var(--color-lawngreen);
  border: 1.7px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 10px;
  height: 10px;
}
.bxbxs-share-icon {
  position: absolute;
  top: 37.3px;
  left: 39.7px;
  width: 13.6px;
  height: 13.6px;
  overflow: hidden;
  opacity: 0.5;
}
.dwight-wilson {
  position: absolute;
  top: 13.3px;
  left: 49.8px;
  font-size: 11.62px;
  font-weight: 500;
  color: var(--text-primary);
  display: inline-block;
  width: 46.5px;
  height: 29.9px;
}
.fav-2 {
  position: absolute;
  top: 177.6px;
  left: 158.5px;
  width: 139.5px;
  height: 84.7px;
  color: var(--text-secondary);
}
.ellipse1 {
  position: absolute;
  top: 19.9px;
  left: 19.9px;
  border-radius: 50%;
  background-color: var(--yellow);
  border: 1.7px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 10px;
  height: 10px;
}
.mike {
  margin: 0;
}
.mike-wazowski,
.thats-awesome {
  position: absolute;
  display: inline-block;
}
.mike-wazowski {
  top: 13.3px;
  left: 49.8px;
  font-weight: 500;
  width: 59.8px;
  height: 29.9px;
}
.thats-awesome {
  top: 0;
  left: 16.6px;
  line-height: 14.94px;
  width: 102.1px;
  height: 14.9px;
}
.bxbxs-share-icon1 {
  position: absolute;
  top: -2.8px;
  left: 1.2px;
  width: 13.6px;
  height: 13.6px;
  overflow: hidden;
  opacity: 0.5;
}
.thats-awesome-parent {
  position: absolute;
  top: 53.1px;
  left: 13.3px;
  width: 118.7px;
  height: 14.9px;
  font-size: 9.96px;
  color: var(--text-secondary);
}
.fav-1,
.rectangle6 {
  position: absolute;
  height: 84.7px;
}
.fav-1 {
  top: 86.3px;
  left: 13.3px;
  width: 138.6px;
  font-size: 11.62px;
}
.rectangle6 {
  top: 0;
  left: 0;
  border-radius: 6.64px;
  background-color: var(--blue-1);
  width: 139.5px;
  opacity: 0.1;
}
.image-icon7 {
  position: absolute;
  top: -9.5px;
  left: 5.5px;
  border-radius: 22.41px;
  width: 29.9px;
  height: 29.9px;
  object-fit: cover;
}
.fav-5-child {
  position: absolute;
  top: 6.6px;
  left: 122.8px;
  border-radius: 50%;
  background-color: var(--blue-1);
  width: 10px;
  height: 10px;
}
.pls-take-a,
.pls-take-a-look-at-the-wrapper {
  position: absolute;
  width: 118.7px;
  height: 14.9px;
}
.pls-take-a {
  top: 0;
  left: 0;
  line-height: 14.94px;
  display: inline-block;
}
.pls-take-a-look-at-the-wrapper {
  top: 53.1px;
  left: 13.3px;
  font-size: 9.96px;
}
.fav-5,
.fav-5-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 139.5px;
  height: 84.7px;
}
.fav-5-wrapper {
  top: 86.3px;
  left: 158.5px;
  font-size: 11.62px;
}
.pinned-chats {
  position: absolute;
  top: 46.5px;
  left: 13.3px;
  font-weight: 500;
  display: inline-block;
  width: 93px;
  height: 19.1px;
}
.cellular-connection-icon1 {
  position: relative;
  width: 14.1px;
  height: 14.1px;
}
.cap-icon1 {
  position: absolute;
  height: 35.11%;
  width: 9.9%;
  top: -73.4%;
  right: 0.5%;
  bottom: 138.3%;
  left: 89.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.4;
  mix-blend-mode: normal;
}
.wifi-icon1 {
  position: relative;
  width: 12.7px;
  height: 9.2px;
}
.bars-status-bar-iphone-l1 {
  position: absolute;
  height: 54.97%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 45.03%;
  left: 0;
  background-color: var(--color-white);
  font-size: 12.45px;
  color: var(--color-text-2);
}
.image-icon8 {
  position: absolute;
  top: -105.1px;
  left: 267.7px;
  border-radius: 19.92px;
  width: 19.9px;
  height: 19.9px;
  object-fit: cover;
}
.header1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 311.3px;
  height: 66.4px;
  text-align: center;
  font-size: 14.94px;
}
.home,
.rectangle-div {
  position: absolute;
  transform: rotate(-30deg);
  transform-origin: 0 0;
}
.home {
  top: 155.6px;
  left: 116.2px;
  border-radius: 13.28px;
  background: linear-gradient(180deg, #fff, #f4f4f4);
  width: 311.3px;
  height: 674px;
  overflow: hidden;
  color: var(--text-primary);
}
.rectangle-div {
  top: 399.2px;
  left: 248.7px;
  background-color: var(--color-darkslateblue-100);
  filter: blur(99.61px);
  width: 367.1px;
  height: 504.9px;
  opacity: 0.1;
}
.recent-chats-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 14.91px;
  background-color: var(--color-white);
  box-shadow: 0-7.5px 29.83px rgba(70, 96, 135, 0.1);
  width: 349.5px;
  height: 491.2px;
}
.dragindicator-icon {
  position: absolute;
  height: 2.91%;
  width: 6.39%;
  top: -19.52%;
  right: 51.9%;
  bottom: 116.61%;
  left: 41.71%;
  border-radius: 93.21px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.2;
}
.all-chats {
  position: relative;
  line-height: 16.78px;
  display: inline-block;
  width: 42.9px;
  height: 16.8px;
  flex-shrink: 0;
}
.all-chats-wrapper {
  border-radius: 3.73px;
  background-color: var(--blue-1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 3.728332757949829px 7.456665515899658px;
  color: var(--color-white);
}
.personal {
  position: relative;
  line-height: 16.78px;
  display: inline-block;
  width: 44.7px;
  height: 16.8px;
  flex-shrink: 0;
  opacity: 0.5;
}
.personal-wrapper {
  border-radius: 3.73px;
  background-color: var(--color-white);
  box-shadow: 0 3.7px 29.83px rgba(70, 96, 135, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 3.728332757949829px 7.456665515899658px;
}
.groups,
.work {
  position: relative;
  line-height: 16.78px;
  display: inline-block;
  width: 28px;
  height: 16.8px;
  flex-shrink: 0;
  opacity: 0.5;
}
.groups {
  width: 39.1px;
}
.filter {
  position: absolute;
  top: 77.4px;
  left: 14.9px;
  height: 24.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 22.37px;
  color: var(--text-primary);
}
.search-icon {
  position: absolute;
  top: -136.4px;
  left: 284px;
  width: 30.6px;
  height: 30.6px;
  overflow: hidden;
}
.thanks-dude {
  position: absolute;
  top: 0;
  left: 18.6px;
  line-height: 16.78px;
  display: flex;
  align-items: flex-end;
  width: 78.3px;
  height: 16.8px;
}
.messagecheck-icon {
  position: absolute;
  top: -4.2px;
  left: 1.9px;
  width: 20.4px;
  height: 20.4px;
  overflow: hidden;
  opacity: 0.6;
}
.message {
  position: absolute;
  top: 28px;
  left: 75.5px;
  width: 96.9px;
  height: 18.6px;
}
.ronald-mccoy,
.yesterday {
  position: absolute;
  display: flex;
  align-items: flex-end;
}
.yesterday {
  top: 9.3px;
  left: 282.4px;
  color: var(--color-darkslategray);
  text-align: right;
  width: 52.2px;
  height: 14.9px;
  opacity: 0.6;
}
.ronald-mccoy {
  top: 7.5px;
  left: 74.6px;
  font-size: 13.05px;
  font-weight: 500;
  color: var(--text-primary);
  width: 86.7px;
  height: 16.8px;
}
.image-icon9 {
  position: absolute;
  top: -14.2px;
  left: 8.2px;
  border-radius: 25.17px;
  width: 44.7px;
  height: 44.7px;
  object-fit: cover;
}
.onlinestatusoffline {
  position: absolute;
  top: 33.6px;
  left: 33.6px;
  border-radius: 50%;
  background-color: var(--color-silver);
  border: 1.9px solid var(--color-white);
  box-sizing: border-box;
  width: 11.2px;
  height: 11.2px;
}
.chat-4,
.photo2 {
  position: absolute;
  top: 7.5px;
  left: 14.9px;
  width: 44.7px;
  height: 44.7px;
}
.chat-4 {
  top: 336.5px;
  left: 0;
  width: 349.5px;
  height: 59.7px;
}
.im-happy-this {
  top: 31.7px;
  left: 74.6px;
  line-height: 16.78px;
  width: 183.6px;
  height: 16.8px;
}
.albert-bell,
.im-happy-this,
.yesterday1 {
  position: absolute;
  display: flex;
  align-items: flex-end;
}
.yesterday1 {
  top: 6.5px;
  left: 282.4px;
  color: var(--color-darkslategray);
  text-align: right;
  width: 52.2px;
  height: 14.9px;
  opacity: 0.6;
}
.albert-bell {
  top: 7.5px;
  left: 74.6px;
  font-size: 13.05px;
  font-weight: 500;
  color: var(--text-primary);
  width: 63.4px;
  height: 16.8px;
}
.chat-3 {
  position: absolute;
  top: 407.3px;
  left: 0;
  width: 350.5px;
  height: 59.7px;
}
.div2,
.hello-guys-we1 {
  position: absolute;
  display: flex;
  align-items: flex-end;
}
.hello-guys-we1 {
  top: 31.7px;
  left: 74.6px;
  line-height: 16.78px;
  width: 197.6px;
  height: 16.8px;
}
.div2 {
  top: 9.3px;
  left: 304.8px;
  color: var(--color-darkslategray);
  text-align: right;
  width: 29.8px;
  height: 14.9px;
  opacity: 0.6;
}
.photo-child {
  position: absolute;
  top: -40.3px;
  left: -21.6px;
  border-radius: 198.07px;
  width: 104.4px;
  height: 104.4px;
  object-fit: cover;
}
.fullsnack-designers1 {
  position: absolute;
  top: 7.5px;
  left: 74.6px;
  font-size: 13.05px;
  font-weight: 500;
  color: var(--text-primary);
  display: flex;
  align-items: flex-end;
  width: 120.2px;
  height: 16.8px;
}
.chat-2 {
  position: absolute;
  top: 194.8px;
  left: 0;
  width: 349.5px;
  height: 59.7px;
}
.recent-chats1,
.yes-thats-gonna {
  position: absolute;
  display: flex;
  align-items: flex-end;
}
.recent-chats1 {
  top: 33.6px;
  left: 14.9px;
  font-size: 16.78px;
  font-weight: 500;
  color: var(--text-primary);
  width: 105.3px;
  height: 21.4px;
}
.yes-thats-gonna {
  top: 30.9px;
  left: 74.6px;
  line-height: 16.78px;
  width: 171px;
  height: 17.4px;
}
.onlinestatusavailable1 {
  position: absolute;
  top: 33.6px;
  left: 33.6px;
  border-radius: 50%;
  background-color: var(--color-lawngreen);
  border: 1.9px solid var(--color-white);
  box-sizing: border-box;
  width: 11.2px;
  height: 11.2px;
}
.lee-williamson {
  position: absolute;
  top: 7.5px;
  left: 74.6px;
  font-size: 13.05px;
  font-weight: 500;
  color: var(--text-primary);
  display: flex;
  align-items: flex-end;
  width: 91.3px;
  height: 16.8px;
}
.chat-5 {
  position: absolute;
  top: 265.6px;
  left: 0;
  width: 349.5px;
  height: 59.7px;
}
.frame-icon3 {
  position: absolute;
  bottom: 59.5px;
  left: 152.8px;
  width: 372.6px;
  height: 319.6px;
}
.group-child1,
.group-child2,
.group-child3,
.recent-chats {
  position: absolute;
  transform: rotate(-30deg);
  transform-origin: 0 0;
}
.recent-chats {
  top: 419.3px;
  left: 236.6px;
  width: 350.5px;
  height: 443.7px;
  overflow: hidden;
  font-size: 11.18px;
}
.group-child1,
.group-child2,
.group-child3 {
  top: 566.8px;
  left: 263.1px;
  background-color: var(--color-midnightblue-100);
  filter: blur(99.61px);
  width: 453px;
  height: 101px;
  opacity: 0.1;
}
.group-child2,
.group-child3 {
  top: 559px;
  left: 912.3px;
  width: 231.6px;
}
.group-child3 {
  top: 277.5px;
  left: 754.9px;
  height: 281.3px;
}
.rectangle7 {
  position: absolute;
  top: 0;
  left: 9.9px;
  border-radius: 9.93px;
  background-color: var(--blue-1);
  width: 445.4px;
  height: 79.4px;
  opacity: 0;
}
.b,
.pls-take-a1 {
  display: flex;
  align-items: flex-end;
}
.pls-take-a1 {
  position: absolute;
  top: 42.2px;
  left: 99.3px;
  line-height: 22.33px;
  width: 191.1px;
  height: 22.3px;
}
.b {
  position: relative;
  letter-spacing: -0.02em;
  width: 9.9px;
  height: 19.9px;
  flex-shrink: 0;
}
.chatnotification {
  position: absolute;
  top: 39.7px;
  left: 418.2px;
  border-radius: 14.89px;
  background-color: var(--blue-1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 4.9632110595703125px 9.926422119140625px;
  color: var(--color-white);
}
.darlene-steward2,
.div4 {
  position: absolute;
  display: flex;
  align-items: flex-end;
}
.div4 {
  top: 12.4px;
  left: 409.5px;
  color: var(--color-darkslategray);
  text-align: right;
  width: 36px;
  height: 19.9px;
  opacity: 0.6;
}
.darlene-steward2 {
  top: 9.9px;
  left: 99.3px;
  font-size: 17.37px;
  font-weight: 500;
  color: var(--text-primary);
  width: 136.5px;
  height: 22.3px;
}
.image-icon13 {
  position: absolute;
  top: -18.9px;
  left: 10.9px;
  border-radius: var(--br-14xl-5);
  width: 59.6px;
  height: 59.6px;
  object-fit: cover;
}
.onlinestatusbusy1 {
  position: absolute;
  top: 44.7px;
  left: 44.7px;
  border-radius: 50%;
  background-color: var(--yellow);
  border: 2.5px solid var(--color-white);
  box-sizing: border-box;
  width: 14.9px;
  height: 14.9px;
}
.chat-1,
.photo6 {
  position: absolute;
  top: 9.9px;
  left: 19.9px;
  width: 59.6px;
  height: 59.6px;
}
.chat-1 {
  top: 575.5px;
  left: 225.8px;
  border-radius: 6.64px;
  background-color: var(--color-white);
  width: 465.3px;
  height: 79.4px;
  transform: rotate(-30deg);
  transform-origin: 0 0;
  font-size: 14.89px;
}
.div5,
.thats-very-nice {
  position: absolute;
  display: flex;
  align-items: flex-end;
}
.thats-very-nice {
  top: 0;
  left: 0;
  line-height: 22.2px;
  width: 212.2px;
  height: 66.6px;
}
.div5 {
  top: 66.6px;
  left: 182.6px;
  width: 39.5px;
  height: 19.7px;
}
.thats-very-nice-place-you-gu-parent {
  position: relative;
  width: 222px;
  height: 86.4px;
}
.frame2,
.image-icon14 {
  position: absolute;
  top: 0;
  left: 0;
}
.frame2 {
  border-radius: 9.87px 9.87px 0 9.87px;
  background-color: var(--blue-1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 9.868818283081055px 12.33602237701416px;
  transform: rotate(-30deg);
  transform-origin: 0 0;
}
.image-icon14 {
  border-radius: 29.61px;
  width: 49.3px;
  height: 49.3px;
  object-fit: cover;
}
.ellipse3,
.frame-group,
.image-group {
  position: absolute;
  transform: rotate(-30deg);
  transform-origin: 0 0;
}
.ellipse3 {
  top: 12.6px;
  left: 47.2px;
  border-radius: 50%;
  background-color: var(--color-lawngreen);
  border: 2.5px solid var(--color-white);
  box-sizing: border-box;
  width: 14.8px;
  height: 14.8px;
}
.frame-group,
.image-group {
  top: -80.9px;
  left: 255.3px;
  width: 49.3px;
  height: 49.3px;
}
.frame-group {
  top: 549.7px;
  left: 876.5px;
  width: 310.9px;
  height: 107px;
  font-size: var(--font-size-mini-8);
  color: var(--color-white);
}
.image-icon15 {
  position: absolute;
  top: -16.4px;
  left: 9.4px;
  border-radius: 30.98px;
  width: 13px;
  height: 51.6px;
  object-fit: cover;
}
.ellipse4,
.image-container {
  position: absolute;
  transform: rotate(-30deg);
  transform-origin: 0 0;
}
.ellipse4 {
  top: 13.2px;
  left: 49.4px;
  border-radius: 50%;
  background-color: var(--color-lawngreen);
  border: 2.6px solid var(--color-white);
  box-sizing: border-box;
  width: 15.5px;
  height: 15.5px;
}
.image-container {
  top: 183.3px;
  left: 105.9px;
  width: 51.6px;
  height: 51.6px;
}
.group-child4,
.group-child5,
.group-child6 {
  position: absolute;
  top: -160.8px;
  left: 55.6px;
  border-radius: 5.16px;
  width: 72.8px;
  height: 239.7px;
  object-fit: cover;
}
.group-child5,
.group-child6 {
  top: 22.6px;
  left: 122.7px;
  width: 5.6px;
  height: 172.6px;
}
.group-child6 {
  top: 423.4px;
  left: 1788.7px;
  width: 129.1px;
  height: 129.1px;
}
.group-container {
  position: absolute;
  top: 340.3px;
  left: 672.7px;
  width: 325.3px;
  height: 263.3px;
  transform: rotate(-30deg);
  transform-origin: 0 0;
}
.adina-nurrahma,
.trust-your-feelings {
  position: absolute;
  left: 93px;
  display: inline-block;
}
.adina-nurrahma {
  top: 85.5px;
  font-size: 14.94px;
  font-weight: 500;
  color: var(--text-primary);
  width: 112.1px;
  height: 19.1px;
}
.trust-your-feelings {
  top: 111.2px;
  font-size: 9.96px;
  line-height: 14.94px;
  width: 139.5px;
  height: 29.9px;
}
.darkmode-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6.64px;
  background-color: var(--color-white);
  width: 298px;
  height: 47.3px;
  opacity: 0;
}
.dark-mode {
  position: absolute;
  top: 2.5px;
  left: 33.2px;
  display: flex;
  align-items: flex-end;
  width: 58.9px;
  height: 14.9px;
}
.toggle,
.toggle-child,
.toggle-item {
  position: absolute;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.toggle-child {
  top: 3.3px;
  left: 0;
  border-radius: 9.96px;
  background-color: var(--text-secondary);
  width: 33.2px;
  height: 13.3px;
  opacity: 0.2;
}
.toggle,
.toggle-item {
  height: 19.9px;
}
.toggle-item {
  top: 19.9px;
  left: -13.3px;
  border-radius: 50%;
  background-color: var(--text-secondary);
  box-shadow: 0 3.3px 26.56px rgba(45, 156, 219, 0.15);
  width: 19.9px;
}
.toggle {
  top: 0.8px;
  left: 258.1px;
  width: 33.2px;
  opacity: 0.4;
}
.bxbxs-moon-icon {
  position: absolute;
  height: 95.67%;
  width: 7.71%;
  top: 901.92%;
  right: 81.98%;
  bottom: -897.6%;
  left: 10.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dark-mode-parent {
  position: absolute;
  top: 13.3px;
  left: 19.9px;
  width: 258.1px;
  height: 20.8px;
}
.darkmode,
.notification {
  position: absolute;
  top: 174.3px;
  left: 6.6px;
  width: 298px;
  height: 47.3px;
}
.notification {
  top: 2.5px;
  left: 33.2px;
  display: flex;
  align-items: flex-end;
  width: 62.3px;
  height: 14.9px;
}
.bxbxs-bell-icon {
  position: absolute;
  height: 100%;
  width: 20.84%;
  top: 0;
  right: 79.16%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bxbx-chevron-right-icon,
.notification-parent {
  position: absolute;
  top: 13.3px;
  left: 19.9px;
  width: 95.5px;
  height: 19.9px;
}
.bxbx-chevron-right-icon {
  top: 294.7px;
  left: 264.8px;
  width: 19.9px;
  overflow: hidden;
  opacity: 0.4;
}
.dataandstorage-child,
.group-div {
  position: absolute;
  top: 281.4px;
  left: 6.6px;
  width: 298px;
  height: 46.5px;
}
.dataandstorage-child {
  top: 0;
  left: 0;
  border-radius: 6.64px;
  background-color: var(--color-white);
  opacity: 0;
}
.data-and-storage {
  position: absolute;
  top: 2.5px;
  left: 33.2px;
  display: flex;
  align-items: flex-end;
  width: 90.5px;
  height: 14.9px;
}
.bxbxs-pie-chart-alt-2-icon {
  position: absolute;
  height: 100%;
  width: 16.09%;
  top: 0;
  right: 83.91%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bxbx-chevron-right-icon1,
.data-and-storage-parent {
  position: absolute;
  top: 13.3px;
  left: 19.9px;
  width: 123.7px;
  height: 19.9px;
}
.bxbx-chevron-right-icon1 {
  left: 258.1px;
  width: 19.9px;
  overflow: hidden;
  opacity: 0.4;
}
.account1,
.dataandstorage {
  position: absolute;
  top: 387.6px;
  left: 6.6px;
  width: 298px;
  height: 46.5px;
}
.account1 {
  top: 2.5px;
  left: 33.2px;
  display: flex;
  align-items: flex-end;
  width: 45.7px;
  height: 14.9px;
}
.bxbxs-user-rectangle-icon {
  position: absolute;
  height: 100%;
  width: 25.22%;
  top: 0;
  right: 74.78%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.account-parent {
  position: absolute;
  top: 13.3px;
  left: 19.9px;
  width: 78.9px;
  height: 19.9px;
}
.bxbx-chevron-right-icon2 {
  position: absolute;
  top: -127.5px;
  left: 230.2px;
  width: 27.2px;
  height: 27.2px;
  overflow: hidden;
  opacity: 0.4;
}
.account,
.chat-settings {
  position: absolute;
  top: 228.3px;
  left: 6.6px;
  width: 298px;
  height: 46.5px;
}
.chat-settings {
  top: 2.5px;
  left: 33.2px;
  display: flex;
  align-items: flex-end;
  width: 70.6px;
  height: 14.9px;
}
.bxbxs-message-rounded-icon {
  position: absolute;
  height: 100%;
  width: 19.17%;
  top: 0;
  right: 80.83%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.chat-settings-parent,
.chatsettings {
  position: absolute;
  top: 13.3px;
  left: 19.9px;
  width: 103.8px;
  height: 19.9px;
}
.chatsettings {
  top: 334.5px;
  left: 6.6px;
  width: 298px;
  height: 46.5px;
}
.privacy-and-security {
  position: absolute;
  top: 2.5px;
  left: 33.2px;
  display: flex;
  align-items: flex-end;
  width: 105.4px;
  height: 14.9px;
}
.bxbxs-lock-icon {
  position: absolute;
  height: 100%;
  width: 14.36%;
  top: 0;
  right: 85.64%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.privacy-and-security-parent {
  position: absolute;
  top: 13.3px;
  left: 19.9px;
  width: 138.6px;
  height: 19.9px;
}
.about1,
.privacyandsecurity {
  position: absolute;
  top: 440.8px;
  left: 6.6px;
  width: 298px;
  height: 46.5px;
}
.about1 {
  top: 2.5px;
  left: 33.2px;
  display: flex;
  align-items: flex-end;
  width: 34px;
  height: 14.9px;
}
.bxbxs-info-circle-icon {
  position: absolute;
  height: 100%;
  width: 29.61%;
  top: 0;
  right: 70.39%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.about,
.about-parent {
  position: absolute;
  top: 13.3px;
  left: 19.9px;
  width: 67.2px;
  height: 19.9px;
}
.about {
  top: 493.9px;
  left: 6.6px;
  width: 298px;
  height: 46.5px;
}
.frame-icon4,
.settings-child {
  position: absolute;
  width: 311.3px;
}
.settings-child {
  top: -16.5px;
  left: 80.3px;
  height: 125.8px;
}
.frame-icon4 {
  bottom: 0;
  left: 0;
  height: 71.4px;
}
.settings1 {
  position: absolute;
  top: 46.5px;
  left: 19.9px;
  font-weight: 500;
  display: inline-block;
  width: 58.9px;
  height: 19.1px;
}
.bars-status-bar-iphone-l2 {
  position: absolute;
  height: 26.33%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 73.67%;
  left: 0;
  background-color: var(--color-white);
  text-align: center;
  font-size: 12.45px;
  color: var(--color-text-2);
}
.avatar-icon {
  position: absolute;
  top: 47.2px;
  left: 69.7px;
  border-radius: 29.88px;
  width: 53.1px;
  height: 53.1px;
  object-fit: cover;
}
.search-icon1 {
  position: absolute;
  top: -104px;
  left: 259.1px;
  width: 27.2px;
  height: 27.2px;
  overflow: hidden;
}
.header2,
.settings {
  position: absolute;
  left: 0;
  width: 311.3px;
}
.header2 {
  top: 0;
  height: 138.6px;
  font-size: 14.94px;
  color: var(--text-primary);
}
.settings {
  top: 848.7px;
  border-radius: 13.28px;
  background: linear-gradient(180deg, #fff, #f4f4f4);
  height: 674px;
  overflow: hidden;
  transform: rotate(-30deg);
  transform-origin: 0 0;
  font-size: 11.62px;
}
.rectangle-parent {
  position: absolute;
  top: 65px;
  left: 879px;
  width: 1304.2px;
  height: 1432.5px;
  color: var(--text-secondary);
}
.cover-child,
.cover-inner,
.cover-item {
  position: absolute;
  top: 0;
  left: 1240px;
  width: 405.2px;
  height: 284.6px;
}
.cover-inner,
.cover-item {
  top: 819px;
  left: 647px;
  height: 204px;
}
.cover-inner {
  top: -335px;
  left: -108px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 615px;
  height: 615px;
  opacity: 0.1;
}
.welcome1,
.you-have-successfully {
  position: absolute;
  display: inline-block;
}
.welcome1 {
  top: 292px;
  left: 324px;
  font-size: var(--font-size-77xl);
  width: 612px;
  height: 107px;
}
.you-have-successfully {
  top: 422px;
  left: 336px;
  font-size: 40px;
  width: 527px;
  height: 63px;
}
.cover-child1 {
  position: absolute;
  top: 550px;
  left: 331px;
  border-radius: 15px;
  background-color: var(--color-white);
  width: 407px;
  height: 66px;
}
.start-chatting {
  cursor: pointer;
  position: absolute;
  top: 566px;
  left: 362px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-lexend-giga);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 340px;
  height: 33px;
  background-color: white;
  border: none;
}
.cover {
  position: absolute;
  top: 1px;
  left: -240px;
  background-color: var(--blue-1);
  width: 1920px;
  height: 1023px;
  overflow: hidden;
}
.welcome {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 9.96px;
  color: var(--color-white);
  font-family: var(--font-poppins);
}
